@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: medium;
}
h1 {
    font-family: 'Fredoka One', cursive;
    font-size:170%;
    font-weight: normal;
}
h2 {
    font-size: 120%;
    font-weight: normal;
}
h1, h2 {
    color: #cc6600;
    border-bottom: thin dotted #888888;
}
blockquote {
    font-style: italic;
}